Info: *******************************************************************
Info: Running Quartus II Shell
    Info: Version 9.1 Build 350 03/24/2010 Service Pack 2 SJ Web Edition
    Info: Copyright (C) 1991-2010 Altera Corporation. All rights reserved.
    Info: Your use of Altera Corporation's design tools, logic functions 
    Info: and other software and tools, and its AMPP partner logic 
    Info: functions, and any output files from any of the foregoing 
    Info: (including device programming or simulation files), and any 
    Info: associated documentation or information are expressly subject 
    Info: to the terms and conditions of the Altera Program License 
    Info: Subscription Agreement, Altera MegaCore Function License 
    Info: Agreement, or other applicable license agreement, including, 
    Info: without limitation, that your use is for the sole purpose of 
    Info: programming logic devices manufactured by Altera and sold by 
    Info: Altera or its authorized distributors.  Please refer to the 
    Info: applicable agreement for further details.
    Info: Processing started: Sat May 08 16:40:33 2010
Info: Command: quartus_sh -t c:\Users\Puppeter\AppData\Local\Temp\ddr1835689440615550106.tcl
script running in C:/Data/Proyektz/Tidied/IFE/Sem6/FPGA/VGA-Handling/iptb_ddr_sdram_controller_temp9057611653612858880
dat_path C:/altera/91sp2/ip/altera/ddr_ddr2_sdram/constraints/dat
 -		 Reading file:		ddr_sdram_component_classic_0_ddr_settings.txt..
Good old DDIO's

 -		 Reading file:		C:/altera/91sp2/ip/altera/ddr_ddr2_sdram/constraints/dat/devices.dat..
 -		 Reading file:		C:/altera/91sp2/ip/altera/ddr_ddr2_sdram/constraints/dat/ep2c35_f672_x8_v02.dat..
 -		 Reading file:		C:/altera/91sp2/ip/altera/ddr_ddr2_sdram/constraints/dat/lcell_placement_cycloneii_0_v02.dat..
 -		 Reading file:		C:/altera/91sp2/ip/altera/ddr_ddr2_sdram/constraints/dat/hdl_path_names_v03.dat..
 -		 Reading file:		C:/altera/91sp2/ip/altera/ddr_ddr2_sdram/constraints/dat/ddr_sdram_iotype.dat..
 - INFO: IO dat file 'C:/altera/91sp2/ip/altera/ddr_ddr2_sdram/constraints/dat/ddr_sdram_iotype_cycloneii.dat' was not found. It may not exists for this device family
 ------------------------------------

 -		 Reading file:		C:/altera/91sp2/ip/altera/ddr_ddr2_sdram/constraints/dat/hdl_path_names_cycloneii_v03.dat..
 - All Done.
Info: Evaluation of Tcl script c:\Users\Puppeter\AppData\Local\Temp\ddr1835689440615550106.tcl was successful
Info: Quartus II Shell was successful. 0 errors, 0 warnings
    Info: Peak virtual memory: 97 megabytes
    Info: Processing ended: Sat May 08 16:40:33 2010
    Info: Elapsed time: 00:00:00
    Info: Total CPU time (on all processors): 00:00:00
